In [3]:
from calcsim import *

In [4]:
conceptrep(title2id('Tehran'), method='rvspagerank', direction=1, get_titles=True, cutoff=20)

57654                               (Tehran, 0.0351605740346)
14653                                 (Iran, 0.0046123110059)
36197140               (Timeline_of_Tehran, 0.00453261185123)
18603746                          (Beijing, 0.00427659692421)
56615                             (Bangkok, 0.00426148002961)
30057                               (Tokyo, 0.00421809877847)
19159283                            (Seoul, 0.00421149433163)
184334                              (Manila, 0.0042084185116)
16275                             (Jakarta, 0.00416187870888)
4492                              (Baghdad, 0.00395965963757)
57648                              (Taipei, 0.00363774643257)
16854                        (Kuala_Lumpur, 0.00359733328489)
56656                               (Dhaka, 0.00353864614204)
202702                          (Rey,_Iran, 0.00349265501118)
51585                           (New_Delhi, 0.00331977768928)
202698                    (Tehran_Province, 0.00321723261052)
56602                              (Astana, 0.00319283843112)
9508746     (List_of_urban_areas_by_population, 0.00315612...
26214389                             (Doha, 0.00312053197988)
4566                                 (Baku, 0.00310192727904)
dtype: object

In [ ]:
em=concept_embedding(title2id('Tehran'), 1);    
em = em.sort_values(ascending=False)
em = em[:10]
# if get_titles:
#     em = pd.Series(zip(ids2title(em.index), em.values.tolist()), index=em.index)

In [6]:
from utils import *
print outdir

NameError: name 'outdir' is not defined

In [ ]:
list(em.index)